{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section class="home-container">
<div class="md-grid md-typeset">
  <div class="home-hero">
    <div class="home-hero-content"> 
      <!--img style="float:right;width:150px" src="https://medsci-sites.inria.fr/cai/wp-content/uploads/sites/3/2020/04/Under-construction.png"/-->
      <h1>Portail des formations NSI</h1>
      <p>Bienvenue dans cet espace de formation, dédié à l'apprentissage de l'informatique : </p> 
      <p><table style="margin: 0px auto; width:70% ;background-color:#00948b; font-weight:bold;font-size:larger"><tr><td style="width:50%"><a  target="_blank"  style="color:white;" href="./3_Les_Fondamentaux">S'initier aux fondamentaux</a></td><td style="width:50%"><a  target="_blank" style="color:white;" href="./4_Apprendre_A_Enseigner">Appendre à enseigner</a></td></tr></table></p>
           <a target="_blank" href="https://youtu.be/QTjXRIwF4Vc"><img style="margin:5px auto;width:70%" src="https://medsci-sites.inria.fr/cai/wp-content/uploads/sites/3/2021/04/mooc-snt_nsi_capes.png"/></a>
      <br/>Ce <a target="_blank" style="text-decoration: underline;color:white" href="https://youtu.be/QTjXRIwF4Vc">teaser</a> vous présente la formation en 160 secondes.
      <br/>Ce <a target="_blank" style="text-decoration: underline;color:white" href="https://mooc-nsi-snt.gitlab.io/portail/flyer-nsi.pdf">flyer</a> vous présente la formation en un coup d'oeil.
      <p>Notre plateforme est ouverte et évolue de manière collaborative : nous y sommes tous et toutes bienvenues.</p>
    </div>
  </div>
</div>
</section>
{% endblock %}
{% block content %}
{% endblock %}
